html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  overflow: hidden;
  position: relative;
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  position: fixed;
  height: 100%;
  background-color: black;
}
canvas {
  filter: grayscale(100%);
  -webkit-filter: -webkit-grayscale(100%);
  background-color: black;
}
