html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  padding: 0;
}

h3 {
	margin-top: 0;
}

hr {
	border-top-width: 2px;
}

.content {
	height: 100vh;
	/*position: absolute;
	top: 0;
	right: 0;*/
}

.slider-row {
	margin: 30px 0;
}

.group {
	margin-top: 30px;
}

.timestamp {
	margin: 60px 0;
}

.dynamic {
	color: red;
}

.timestamp:first-child{
	margin-top: 0;
}

.group .slider-row:last-child {
	margin-bottom: 0;
}

.palette {
	margin-top: 15px;
	height: 90px;
	display: flex;
}

.palette-color {
	height: 90px;
}


/*tr {
	border: 1px solid black;
}

td {
	padding: 10px;
}

h2 {
	margin-top: 10px;
}

.jumbotron {
	max-width: 70vw;
	margin: 20px auto 0;
	padding: 20px;
}

.photo-gallery {
	display: flex;
	flex-wrap: wrap;
}

.photo-gallery > img {
	width: 30%;
	height: 100%;
}*/
