html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  padding: 0;
}

td {
	padding: 5px;
}

h2 {
	margin-top: 10px;
}

.jumbotron {
	max-width: 70vw;
	margin: 20px auto 0;
	padding: 20px;
}
